.etatCommandeUtilisateur {
  margin-bottom: 1em;
}

.totalCommande {
  margin-top: 1em;
  text-align: right;
}

.depot {
  min-height: 36px;
  text-align: center;
  font-size: 1.2em;
  color: green;
}
