.etatCommandeUtilisateur {
  margin-bottom: 1em;
}

.totalCommande {
  margin-top: 1em;
  text-align: right;
}

.depot {
  min-height: 36px;
  text-align: center;
  font-size: 1.2em;
  color: green;
}

.typesProduits {
  font-size: 0.9em;
  color: gray;
  padding-top: 5px;
}
