.panel {
  padding: 0.3em;
  height: 100%;
}

.title {
  text-align: center;
  padding: 2px;
  background-color: #d9ffe3;
  border: solid 1px silver;
  cursor: move; 
}

.content {
  padding: 0.5em;
  height: 86%;
  overflow-y: auto;
}

.row {
  padding: 5px;
}
