.distributionSelected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: white;
  margin-top: 20px;
}

.validation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.distribution {
  min-width: 50px;
}
