.distributionSelected {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0 5px 5px;
  background-color: white;
  margin-top: 20px;
  border: solid 1px gray;
}

.validation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.distribution {
  min-width: 50px;
}
