.wrapper {
  border: solid 1px silver;
  padding: 0.5em;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  background-color: white;
  cursor: pointer;
}

.title {
  color: '#1565c0';
  font-size: 1.3em;
}

.subTitle {
  font-size: 0.9em;
  color: gray;
}

.text {
  flex: 5;
  text-align: left;
}

.action {
  flex: 2;
  text-align: right;
}

.expand {
  flex: 1;
  text-align: right;
}
