.panel {
  background-color: white;
  padding: 1rem;
  max-height: calc(100vh - 105px);
  min-height: calc(100vh - 105px);
  overflow-y: auto;
}

.noScroll {
  overflow-y: auto;
}

.nouvelleCommande {
  background-color: transparent;
}

.addButton {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.liste {
  min-height: calc(100vh - 205px);
}
