.panel {
  padding: 0;
  background-color: white;
  max-height: calc(100vh - 105px);
  min-height: calc(100vh - 105px);
}

.noScroll {
  overflow-y: auto;
}

.nouvelleCommande {
  background-color: transparent;
}

.addButton {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

.liste {
  padding: 0.5rem;
  height: calc(100vh - 185px);
  overflow-y: auto;
  /*max-height: calc(100vh - 205px);*/
}
