.commandeEdit { /* stylelint-disable */
    background-color: '#FFF',
}

.active {
  background-color: red;
}

.enStock { color: green}
.horsStock { color: red}

.offres {
  background-color: white;
  padding: 10px 10px;
}
