.pdtSelected {
  border-left: 4px solid black;
  text-align: left;
}

.panelproduits, .produits, .texteCatalogue {
  background-color: white;
}
.panelproduits, .texteCatalogue {
  border: solid 1px gray;
}
.produitsScr {
  background-color: white;
  overflow-y: scroll;
  height: calc(100vh - 210px);
}

.nonDispo { color: red}

.offres {
  background-color: white;
  border: solid 1px gray;
  padding-bottom: 1em;
}

.offre {
  margin: 0;
  padding: 2px 0;
}

.fournisseurSwitch {
  text-align: right;
}

.produitTitre {
  text-align: center;
  font-size: 1.4rem;
  margin: 10px 0;
}
