.panel {
  background-color: white;
  padding: 1rem;
  max-height: calc(100vh - 105px);
  min-height: calc(100vh - 105px);
  overflow-y: scroll;
}

.panelTitre {
  text-align: left;
  line-height: 36px;
}

.panelAction {
  text-align: right;
}

.photo {
  text-align: center;
}

.editorClass {
  height: 150px;
  border: 1px solid silver;
  padding: 5px;
  border-radius: 2px;
}

.upper {
  text-transform: uppercase;
}

.capit {
  text-transform: capitalize;
}

.label {
  line-height: 22px;
  font-size: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}
