.login {
  margin-bottom: 0;
  padding: 0 0 15px;
}

.formHeader {
  text-align: center;
  background-color: rgba(208, 208, 236, 0.89);
  padding: 5px;
}

.paddedHoriz {
  background-color: #FFF;
  padding: 0 2em;
}
