.nonDispo { color: red}

.offres {
  background-color: white;
  height: 100%;
  border: solid 1px gray;
}

.offre {
  margin: 10px;
  padding: 5px 0;
}

.offre div {
  line-height: 33px;
}

.fournisseurSwitch {
  text-align: right;
}

.produitTitre {
  text-align: center;
  font-size: 1.4rem;
  margin: 10px 0;
}
