/**
 * styles.css
 *
 * App container styles
 */

.container {
  display: block;
}

.mainContent {
  padding-top: 1rem;
  position: relative;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}

:global .with-margin-top {
  margin-top: 20px;
}

:global .with-margin-bottom {
  margin-bottom: 10px;
}

:global .text-center {
  text-align: center;
}

:global .text-right {
  text-align: right;
}

:global .padded-horiz {
  padding: 0 20;
}

@media print {
  .noPrint {
    display: none;
  }
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88BFE8+0,70B0E0+100;Blue+3D+%2317 */
  background: #88BFE8; /* Old browsers */
  background: linear-gradient(to bottom, #88BFE8 0%, #70B0E0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin: 0;
}

body.fontLoaded {
  font-family: Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
