/**
 * styles.css
 *
 * App container styles
 */

.container {
  display: block;
}

.mainContent {
  padding-top: 20px;
}

:global .with-margin-top {
    margin-top: 20px;
}

:global .with-margin-bottom {
    margin-bottom: 10px;
}

:global .text-center {
    text-align: center;
}

:global .text-right {
    text-align: right;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
