.formFooter {
  margin: 40px 0;
}

.formHeader {
  text-align: center;
  background-color: rgb(178, 178, 231);
  padding: 5px;
}

.formHeader2 {
  text-align: center;
  background-color: rgb(209, 209, 233);
  padding: 5px;
}

.upper {
  text-transform: uppercase;
}

.capit {
  text-transform: capitalize;
}
